*{
    margin: 0;
    padding: 0;
}
.resetpasswordbody {
    background: linear-gradient(to left, rgb(126, 223, 126), rgb(255, 255, 255));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

.resetpasswordcontainer {
    background-color: rgb(224, 236, 224);
    border: 5px double rgba(18, 38, 18, 0.499);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 400px; /* Set a specific width */
}

.reset-password-form {
    display: flex;
    flex-direction: column; /* Stack the elements vertically */
}

.reset-password-form label {
    margin: 10px 0 5px; /* Spacing around labels */
}

.reset-password-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px; /* Space between inputs */
}

.resetpasswordBtn {
    background-color: rgb(40, 187, 40);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease; /* Smooth transition */
}

.resetpasswordBtn:hover {
    background-color: #c12929; /* Change color on hover */
}
