*{
    margin: 0;
    padding: 0;
}
.resetpasswordbody {
    background: linear-gradient(to left, rgb(218, 134, 231), rgb(255, 255, 255));
    /* From green to white */
    display: flex;
  }
  .divbgimg {
    background-image: url('./images/freepik_br_e7fc9cb6-9a78-45a0-9bb6-145be62f2cb8.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 750px;
    height: 700px;
    margin-left: 3%;
  }
  
  .resetformdiv {
    margin-top: 10%;
    margin-left: 15%;
  }
  
  .reset-password-form {
    background-color: rgb(224, 236, 224);
    border: 5px double rgba(18, 38, 18, 0.499);
    padding: 7px;
    border-radius: 20px;
  
  
  }
  
  .resetpasswordcontainer {
    background-color: rgb(224, 236, 224);
    border: 5px double rgba(18, 38, 18, 0.499);
    padding: 20px;
    /* Increased padding for better spacing */
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    /* Added shadow for depth */
  }
  
  .resetformtext1 {
    color: rgb(211, 68, 227);
  
  }
  
  .resetformtext {
    color: rgb(211, 68, 227);
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0px 10px 0px;
  }